.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html {
  background-color: #EFEBE9;
}

body {
  margin: 0;
}

header {
  margin: 0;
  padding: 18px;
}

span.jss62 {
  font-size: 15px !important;
}

/* div.jss71.jss80 {
  background-color: #EFEBE9 !important;
} */

#list-heading > div > h3 {
  font-weight: bold;
}

#logo {
  height: 80px;
  position: absolute;
  margin-top: 3px;
  margin-left: 25px;
}

h1 {
  font-family: 'Megrim', cursive;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-size: 50px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.button-col {
  padding: 0;
}

.desc-col {
  text-align:center;
}

table {
  counter-reset: tableCount;
}

.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}

.counterCell {
  text-align: center;
}

/* label{
  display:inline-block;
  width:200px;
  margin-right:30px;
  text-align:right;
} */
