<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/App.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Jua|Delius|Righteous|Megrim" rel="stylesheet">
  <title>JoJob: Your Summer Storage Planner</title>
</head>
<body>
  <header>
    <div id="header-container">
      <img id="logo" src="img/logo.png" alt="logo">
    </div>
  </header>
  <div id="root"></div>
</body>
<script src="bundle.js"></script>
</html>
